.payment_div {
    width: 100%;
    padding-block: 35px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5fa;
}

.paymentProducts_div {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 60%;
    max-height: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    background: white;
}

.paymentProducts_div ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-x: scroll;
    gap: 7px;
}

.paymentProduct_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100px; 
    height: 100px;
}

.paymentProduct_img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.paymentProduct_count {
    position: absolute;
    right: 0px;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #5e4fbe;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.paymentProducts_cartIcon_div {
    position: absolute;
    right: 1.5vw;
    bottom: -15px;
    width: 60px;
    height: 60px;
    background: linear-gradient(#3522ae, #333);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartIcon {
    width: 40%;
    height: 40%;
    color: white;
}

.payment_option_info {
    margin-top: 10px;
    text-align: center;
    color: #333;
}

.paymentSummary_div {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
}

.paymentSummary_title_div h2 {
    color: #564b9c;
}

.paymentSummary_info_div {
    display: flex;
    flex-direction: column;
    margin-block-start: 10vh;
    padding-inline: 6vw;
    gap: 15px;
}

.paymentSummary_info {
    display: flex;
    justify-content: space-between;
}

.paymentSummary_total_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}


.paymentSummary_total_div h3 {
    color: #3522ae;
    font-size: 20px;
}

.paymentSummary_totalInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.paymentSummary_totalInfo span {
    font-size: 20px;
    color: #3522ae;
    font-weight: bold;
    font-style: oblique;
}

.paymentSummary_totalInfo p {
    color: rgb(31, 46, 121);
    opacity: 0.8;
}

.paymentSummary_finish button {
    width: 100%;
    height: 4rem;
    margin-top: 20px;
    background-color: #3a2e85;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

.paymentSummary_finish button:hover {
    background-color: #564b9c;
}

@media (max-width: 950px) {
    .payment_div {
        background-color: transparent;
        
    }

    .paymentProducts_div,
    .paymentSummary_div {
        width: 100%;
        
    }

    .paymentProduct_item {
        margin-bottom: 10px;
    }

    .paymentProducts_cartIcon_div {
        right: 5vw;
        bottom: -5px;
    }

    .cartIcon {
        width: 30%;
        height: 30%;
    }

    .paymentSummary_info_div {
        padding-inline: 10px;
    }

    .paymentSummary_finish button {
        font-size: 1.2rem;
    }
}