.success_div {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.success_container_info{
    padding: 50px 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#f5f5fa, #6a5cc2);
    border-radius: 10px;
}

.success_container_info h1 {
    color: #3522ae;
    font-size: 1.5rem; 
    margin: 20px 0; 
}

.success_container_info p {
    color: #ffffff;
    opacity: 0.8;
    font-size: 1rem; 
}