.identification_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.error_messages_div {
    margin-block: 4vh;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.identification_personalData_div {
    border: 1px solid #c5c7cb;
    border-radius: 20px;
    padding-block: 20px;
    padding-inline: 25px;
    width: 80%;
    background-color: #f9f9f9;
}

.identification_personalData_title {
    padding-block: 30px;
}

.identification_personalData_title h2 {
    color: rgb(88, 56, 169);
    text-align: center;
    font-size: 4vh;

}

.identification_personalData_section_div {
    display: flex;
    margin-block: 30px;
    width: 100%;
}

.identification_personalData_template_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.identification_personalData_info {
    display: flex;
    align-items: center;
    width: 40%;
    gap: 10px;
}

.identification_personalData_name {
    width: 30%;
    font-weight: bold;
}

.identification_personalData_name span {
    color: rgb(48, 39, 86);
    font-size: 2.5vh;
}

.identification_personalData_input input::placeholder {
    color: #cabfe5;
    opacity: 0.8;
}

.identification_personalData_input {
    display: flex;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    justify-content: space-between;
    border: 0.5px solid #b4b4b4;
    background-color: white;
}

.identification_personalData_input input {
    appearance: none;
    border: none;
    width: 100%;
    background-color: transparent;
    color: #121659;
    font-size: 16px;
    outline: none;
}

.cep_content_div_main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-block: 10vh;
}

.cep_data_title_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block-end: 4vh;
    padding: 10px;
}

.cep_data_title_div span {
    font-size: 18px;
    font-weight: 600;
    color: rgb(77, 46, 134);
}

.cep_location_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cep_location_div span {
    font-size: 2.6vh;
    text-transform: uppercase;
    white-space: nowrap;
    user-select: text;
    color: #dfebf7;
}

.template_bairro_div {
    width: 40%;
    min-height: 8vh;
    background-color: azure;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    margin-inline: 5px;
    border: 1px solid #8f96f9;
    background-color: #291574;
    border-radius: 5px;
    box-sizing: border-box;
}

.template_localidade_div {
    width: 30%;
    min-height: 8vh;
    max-height: 60px;
    background-color: azure;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    margin-inline: 5px;
    border: 1px solid #8f96f9;
    background-color: #291574;
    border-radius: 5px;
    box-sizing: border-box;
}

.template_uf_div {
    width: 10%;
    min-height: 8vh;
    background-color: azure;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    margin-inline: 5px;
    border: 1px solid #8f96f9;
    background-color: #291574;
    border-radius: 5px;
    box-sizing: border-box;
}

.cep_address_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cep_address_div span {
    font-size: 2.6vh;
    text-transform: uppercase;
    white-space: nowrap;
    user-select: text;
    color: #dfebf7;
}

.address_div {
    width: 70%;
    min-height: 8vh;
    max-height: 60px;
    background-color: azure;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    margin-inline: 5px;
    border: 1px solid #8f96f9;
    background-color: #291574;
    border-radius: 5px;
    box-sizing: border-box;
}

.numberaddress_div {
    width: 15%;
    min-height: 8vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    margin-inline: 5px;
    border: 1px solid #8f96f9;
    background-color: #291574;
    border-radius: 5px;
    box-sizing: border-box;
}

.numberaddress_div input {
    height: 100%;
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 2.6vh;
    color: #dfebf7;
}

.numberaddress_div input::placeholder {
    color: #b3bfcb;
}

.identification_personalData_next {
    display: flex;
    justify-content: center;
    margin-block: 25px;
}

.identification_personalData_next button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #328435;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s ease;
}

.identification_personalData_next button:hover {
    background-color: #4da26b;
}

.identification_personalData_next .disabled {
    opacity: 0.5;
    background-color: rgb(40, 75, 44)26b;
    cursor: not-allowed;
}

@media (max-width: 950px) {
    .identification_personalData_template_div {
        flex-direction: column;
        gap: 30px;
    }

    .identification_personalData_info{
        width: 100%;
    }

    .identification_personalData_name span{
        font-size: 2.5vh;
    }

    .identification_personalData_input input{
        font-size: 2.5vh;
        padding: 5px;
    }

    .identification_personalData_next button {
        width: 100%;
        min-height: 10vh;
        font-size: 3vh;
    }

    .identification_personalData_div {
        background-color: transparent;
        width: 100%;
    }

    .cep_content_div_main{
        margin-block: 2vh;
    }

    .cep_data_title_div span{
        font-size: 3vh;
    }
    
    .address_div span,
    .numberaddress_div input{
        font-size: 2.5vh;
    }

    .numberaddress_div input{
        width: 100%;
        height: 100%;
    }

    .cep_location_div,
    .cep_address_div,
    .numberaddress_div{
        height: auto;
        flex-direction: column;
    }

    .cep_location_div div,
    .cep_address_div div,
    .numberaddress_div{
        width: 100%;
        margin-inline: 0px;
    }

    .cep_location_div span{
        font-size: 2.8vh;
    }
}